@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body {
  font-family: 'Comfortaa', sans-serif;
  background: linear-gradient(240deg, #323a3e 0%, #757677 100%);
  color:#e8dbd3;
  width: 99vw;
  min-height: 99vh;
  margin: 0;
  padding: 0;
  padding-right: 32px;
}

aside {
  float: left;
  width: 16%;
  padding: 1%;
  height: 100vh;
  color: #e8dbd3;
}

aside img {
  width: 80px;
  float: left;
}

aside .logo {
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
  position: relative;
  top: 10px;
}

aside h3 {
  margin-top: 80px;
  font-size: 30px;
}

aside ul {
  list-style: none;
  margin-top: 90px;
}
aside ul li {
  font-size: 28px;
  color: #e8dbd3;
  display: block;
  margin-top: 20px;
  transition: transform 0.6s ease;
}

aside ul a {
  text-decoration: none;
}

aside ul li:hover,
aside ul a:hover {
  color: #eb5959;
  text-decoration: none;
  transform: scale(1.05);
}

.alert-warning {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 34, 34);
  border-color: rgb(35, 34, 34);
  color:#e8dbd3;
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px; 
  margin-top: 30px;
}

/* Скрываем стандартный чекбокс */
input[type="checkbox"].form-check-input {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #e8dbd3;
  border-radius: 5px;
  background: #222;
  float: right;
  cursor: pointer;
  outline: none;
  position: relative;
}

/* Галочка */
input[type="checkbox"].form-check-input:checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #266b21;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.button {
  background-color: #eb5959;
  border-color: #eb5959;
  color: white;
  position: fixed;
  font-size: 16px;
  padding: 16px 42px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  right: 10px;
  top: 10px;
}

input[type="button"] {
  background-color: #eb5959;
  border-color: #eb5959;
  color: white;
  position: fixed;
  right: 50px;
  top: 10px;
}

.task-buttons {
  margin-top: auto;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.default-button-change,
.default-button-delete {
  font-size: 1.5em;
  width: 50px; height: 50px;
  float: right;
  border-radius: 50%;
  border: none;
  transition: background-color 0.6s, transform 0.5s;
}

.default-button-change:hover {
  transform: scale(110%);
  background-color: #e8dbd3;
}

.default-button-delete:hover {
  transform: scale(110%);
  background-color: #ff0000;
}

.status-bar-container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 15px; */
  margin-left: 15px;
}

.status-bar-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.status-bar-button {
  background-color: #e8dbd3;
  border-color: #e8dbd3;
  color: black;
  font-size: 16px;
  padding: 16px 42px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  transition: background-color 0.6s, transform 0.5s;
}

.status-bar-button:hover {
  transform: scale(110%);
  background-color: #eb5959;
  color: white;
  border-color: #eb5959;
}

.status-bar-filter {
  margin-right: 8px;
}

.user-bar-container {
  position: fixed;
  bottom: 20px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bar-btn {
  background-color: #e8dbd3;
  border-color: #e8dbd3;
  color: black;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  transition: background-color 0.6s, transform 0.5s;
}

.user-bar-button-login {
  position: static;
}

.user-bar-button-login:hover {
  transform: scale(110%);
  background-color: #e8dbd3;
}

.user-bar-button-logout {
  position: static;
}

.user-bar-button-logout:hover {
  transform: scale(110%);
  background-color: #e8dbd3;
}

.username-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: #e8dbd3;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
  resize: both;
  min-height: 100px;
  max-height: 400px;
}

.add-task-container p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.add-task-container input, .register-container input, .login-container input,
.add-task-container textarea, .register-container textarea, .login-container tex {
  width: 100%;
  max-width: 400px; /* ширина поля */
  padding: 10px 14px;
  font-size: 16px;
  border: 2px solid #e8dbd3;
  border-radius: 8px;
  background-color: #444; /* цвет фона поля */
  color: #f3e9e1;
  transition: all 0.3s ease;
}

.add-task-container input:focus, .register-container input:focus, .login-container input:focus,
.add-task-container textarea:focus, .register-container textarea:focus, .login-container textarea:focus{
  outline: none;
  border-color: #eb5959;
  background-color: #555;
}

.add-task-btn {
  background-color: #e8dbd3;
  border-color: #e8dbd3;
  color: black;
  font-size: 16px;
  padding: 16px 42px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  transition: background-color 0.6s, transform 0.5s;
  max-width: 200px;
}

.add-task-btn:hover {
  transform: scale(110%);
  background-color: #eb5959;
  color: white;
  border-color: #eb5959;
}