{% extends 'main/layout.html' %}

{% block title %}Добавление задачи{% endblock %}

{% block content %}
    <div class="status-bar-container">
        <h1>Добавление задачи</h1>
    </div>
    <div class="add-task-container">
        <form method="post" action="{% url 'add_new_task' %}">
            {% csrf_token %}
            <p>
                <label for="title-task">Название задачи:</label>
                <input id="title-task" type="text" name="title-task" required>
            </p>
            <p>
                <label for="description-task">Описание задачи:</label>
                <textarea id="description-task" name="description-task" rows="4"></textarea>
            </p>
            <button class="add-task-btn" type="submit">Добавить</button>
        </form>
    </div>
    
{% endblock %}